.button {
    appearance: none;
    background: none;
    font-size: 32px;
    padding: 50px 50px;
    outline: none;
    border: 2px solid transparent;
    color: rgb(112, 76, 182);
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 2px;
    transition: all 0.15s;
  }